extends ../layout

block content
	h1 Edit Martial Art for #{character.alias}
		a(href="/characters/skills/" + character._id).btn.btn-link Back
	include ../_common/pointTotals

	.row
		.col-sm-5
			.form-group
				label.control-label(for="maneuvers") Select which maneuvers to include in your Martial Art
				select#maneuvers.form-control(name="maneuvers" style="height:300px;" multiple)
					each maneuver in mms
						- var hasManeuver = false
						each m in ma.maneuvers
							if String(m.type._id) == String(maneuver._id)
								- hasManeuver = true
						if !hasManeuver
							option(value=maneuver._id, data-cost=maneuver.cost) #{maneuver.name} - #{maneuver.cost} pts.

		.col-sm-2.hidden-xs.text-center(style="margin:130px 0")
			button.btn.btn-primary.add-maneuver
				span.glyphicon.glyphicon-arrow-right
			br
			br
			button.btn.btn-primary.remove-maneuver
				span.glyphicon.glyphicon-arrow-left
		.col-sm-2.visible-xs.text-center(style="margin:25px 0")
			.row
				.col-xs-6
					button.btn.btn-primary.btn-block.add-maneuver
						span.glyphicon.glyphicon-arrow-down
				.col-xs-6
					button.btn.btn-primary.btn-block.remove-maneuver
						span.glyphicon.glyphicon-arrow-up

		.col-sm-5
			form(method="post")#artForm
				.form-group
					label.control-label(for="art") Your Martial Art
					select#art.form-control(name="art" style="height:300px;" multiple)
						each maneuver in ma.maneuvers
							option(value=maneuver.type._id, data-cost=maneuver.type.cost) #{maneuver.type.name} - #{maneuver.type.cost} pts.

	
	form(method="post", action="/characters/updateMartialArt/")
		input(type="hidden", name="maID", value=ma._id)
		.row
			.col-sm-4
				.form-group
					label.control-label(for="maName") Martial Art Name
					input.form-control(type="text" name="maName" placeholder="E.G. Karate, Fencing etc." value=ma.name required)#maName
					input(type="hidden", name="characterID", value=character._id)
			.col-sm-4
				.form-group
					label.control-label(for="maDCs") Additional Damage Classes
					input.form-control(type="number", min="0", name="maDCs", value=ma.additionalDCs)
			.col-sm-4
				label.control-label Weapon Element
				#weaponElement
					each weapon, i in ma.weaponElement
						.form-group.weapon
							input.form-control(type="text", name="weaponElement[#{i}]", value=weapon, placeholder="Weapon e.g., \'Swords\'")
							button(type="button").btn.btn-link.btn-sm.remove-weapon Remove
				button(type="button" class="add-weapon").btn.btn-primary
					span.glyphicon.glyphicon-plus
					| &nbsp;Add Weapon Element
		hr
		#newArt
			-var selectedManeuvers = ma.maneuvers
			include ../martialManeuvers/newArt
		button(type="submit").btn.btn-primary.btn-lg
			span.glyphicon.glyphicon-ok
			| &nbsp;Update Martial Art
		a(href="#deleteModal" data-toggle="modal").btn.btn-link
			span.glyphicon.glyphicon-trash
			| &nbsp;Delete Martial Art

	.modal.fade#deleteModal
		.modal-dialog
			.modal-content
				.modal-header
					button(type='button', data-dismiss='modal').close
						span(aria-hidden='true') &times;
						span.sr-only Close
					h4.modal-title Delete #{ma.name}
				.modal-body
					p Are you sure you want to delete the #{ma.name} Martial Art?
				.modal-footer.text-center
					a(href='/characters/martialArts/deleteMartialArt/' + character._id + ',' + ma._id).btn.btn-danger
						span.glyphicon.glyphicon-trash
						|  Delete Skill
					button(type='button', data-dismiss='modal').btn.btn-default Cancel

	script(src='/js/martialArts/edit.js' type='text/javascript')