extends layout

block content
	- function calculateRoll(characteristic) {
	- 	if(characteristic >= 0) {
	- 		return Math.round(9 + (characteristic / 5));
	- 	} else {
			return Math.round(9 - (characteristic / 5));
	- 	}
	- }

	- function calculateCost(characteristic, costMod) {
	- 	return (characteristic - 10) * costMod;
	- }

	- function calculateFiguredCost(baseFigured, characteristic, costMod) {
	- 	return (characteristic - baseFigured) * costMod;
	- }

	- function calculateCOMCost(comeliness, comelinessCost) {
	- 	if(comeliness < 0) {
	- 		return ((comeliness - 10) * comelinessCost) + (-comeliness);
	- 	} else {
	- 		return (comeliness - 10) * comelinessCost;
	- 	}
	- }
	- STRcost = 1,
	- DEXcost = 3,
	- INTcost = 1,
	- CONcost = 2,
	- EGOcost = 2,
	- BODYcost = 2,
	- PREcost = 1,
	- COMcost = 0.5,
	- PDcost = 1,
	- EDcost = 1,
	- SPDcost = 10,
	- RECcost = 2,
	- ENDcost = 0.5,
	- STUNcost = 1,
	- RUNcost = 2,
	- SWIMcost = 1,
	- LEAPcost = 1


	a(href="/characters/" + character._id) View Character
	h1 Editing #{character.alias} &nbsp;

	form(id="editCharacter", method="post", action="/characters/updateCharacter").form-horizontal
		.form-group
			.col-sm-3
				label.control-label Base Character Point Pool
				input(type="number", name='basePool', value='#{character.basePool}').form-control#basePool
		.form-group
			.col-sm-3
				label.control-label Character Points Spent
				p#POINTSspent
				input(type="hidden", name='pointsSpent').form-control#pointsSpent
		.row
			.col-sm-6
				h2 Basic Info
				input(type='hidden', name='_id', value='#{character._id}')
				.form-group
					.col-sm-12
						label.control-label Alias
						input(name="alias", type="text",value="#{character.alias}").form-control
				.form-group
					.col-sm-12
						label.control-label Real Name
						input(name='name', type="text", value="#{character.name}").form-control

				.form-group
					.col-sm-12
						label.control-label Description
						textarea.form-control(name='description', cols='0', rows='10') #{character.description}
			.col-sm-6
				h2 Primary Characteristics
				.row
					.col-sm-3
						strong.pull-right Characteristic
					.col-sm-3
						strong Total Score
					.col-sm-2
						strong Base Score
					.col-sm-2
						strong Roll
					.col-sm-2
						strong Cost
				hr
				div.form-group.clearfix
					label.control-label.col-sm-3 STR
					.col-sm-3
						input(name='STRmod', type='number', value='#{character.STR + character.STRmod}').form-control#STRmod
					.col-sm-2
						p #{character.STR}
					.col-sm-2
						p#STRroll= '-' + calculateRoll((character.STR + character.STRmod))
					.col-sm-2
						p.cost#STRcost= calculateCost((character.STR + character.STRmod), STRcost)

				div.form-group.clearfix
					label.control-label.col-sm-3 DEX
					.col-sm-3
						input(name='DEXmod', type='number', value='#{character.DEX + character.DEXmod}').form-control#DEXmod
					.col-sm-2
						p #{character.DEX}
					.col-sm-2
						p#DEXroll= '-' + calculateRoll((character.DEX + character.DEXmod))
					.col-sm-2
						p.cost#DEXcost= calculateCost((character.DEX + character.DEXmod), DEXcost)

				div.form-group.clearfix
					label.control-label.col-sm-3 CON
					.col-sm-3
						input(name='CONmod', type='number', value='#{character.CON + character.CONmod}').form-control#CONmod
					.col-sm-2
						p #{character.CON}
					.col-sm-2
						p#CONroll= '-' + calculateRoll((character.CON + character.CONmod))
					.col-sm-2
						p.cost#CONcost= calculateCost((character.CON + character.CONmod), CONcost)

				div.form-group.clearfix
					label.control-label.col-sm-3 BODY
					.col-sm-3
						input(name='BODYmod', type='number', value='#{character.BODY + character.BODYmod}').form-control#BODYmod
					.col-sm-2
						p #{character.BODY}
					.col-sm-2
						p#BODYroll= '-' + calculateRoll((character.BODY + character.BODYmod))
					.col-sm-2
						p.cost#BODYcost= calculateCost((character.BODY + character.BODYmod), BODYcost)

				div.form-group.clearfix
					label.control-label.col-sm-3 INT
					.col-sm-3
						input(name='INTmod', type='number', value='#{character.INT + character.INTmod}').form-control#INTmod
					.col-sm-2
						p #{character.INT}
					.col-sm-2
						p#INTroll= '-' + calculateRoll((character.INT + character.INTmod))
					.col-sm-2
						p.cost#INTcost= calculateCost((character.INT + character.INTmod), INTcost)

				div.form-group.clearfix
					label.control-label.col-sm-3 EGO
					.col-sm-3
						input(name='EGOmod', type='number', value='#{character.EGO + character.EGOmod}').form-control#EGOmod
					.col-sm-2
						p #{character.EGO}
					.col-sm-2
						p#EGOroll= '-' + calculateRoll((character.EGO + character.EGOmod))
					.col-sm-2
						p.cost#EGOcost= calculateCost((character.EGO + character.EGOmod), EGOcost)

				div.form-group.clearfix
					label.control-label.col-sm-3 PRE
					.col-sm-3
						input(name='PREmod', type='number', value='#{character.PRE + character.PREmod}').form-control#PREmod
					.col-sm-2
						p #{character.PRE}
					.col-sm-2
						p#PREroll= '-' + calculateRoll((character.PRE + character.PREmod))
					.col-sm-2
						p.cost#PREcost= calculateCost((character.PRE + character.PREmod), PREcost)

				div.form-group.clearfix
					label.control-label.col-sm-3 COM
					.col-sm-3
						input(name='COMmod', type='number', value='#{character.COM + character.COMmod}').form-control#COMmod
					.col-sm-2
						p #{character.COM}
					.col-sm-2
						p#COMroll= '-' + calculateRoll((character.COM + character.COMmod))
					.col-sm-2
						p.cost#COMcost= calculateCOMCost((character.COM + character.COMmod), COMcost)

		.row
			.col-sm-6
				h2 Figured Characteristics
				.row
					.col-sm-3
						strong.pull-right Characteristic
					.col-sm-3
						strong Total Score
					.col-sm-3
						strong Base Score
					.col-sm-2
						strong Cost
				hr
				div.form-group.clearfix
					label.control-label.col-sm-3 PD
					.col-sm-3
						input(name='PDmod', type='number', value='#{character.PD + character.PDmod}').form-control#PDmod
					.col-sm-3
						p#PDbase #{character.PD}
						input(type='hidden', value='#{character.PD}', name='PD')#PD
					.col-sm-2
						p.cost#PDcost= calculateFiguredCost(character.PD, (character.PD + character.PDmod), PDcost)

				div.form-group.clearfix
					label.control-label.col-sm-3 ED
					.col-sm-3
						input(name='EDmod', type='number', value='#{character.ED + character.EDmod}').form-control#EDmod
					.col-sm-3
						p#EDbase #{character.ED}
						input(type='hidden', value='#{character.ED}', name='ED')#ED
					.col-sm-2
						p.cost#EDcost= calculateFiguredCost(character.ED, (character.ED + character.EDmod), EDcost)

				div.form-group.clearfix
					label.control-label.col-sm-3 SPD
					.col-sm-3
						input(name='SPDmod', type='number', step='0.1', value='#{character.SPD + character.SPDmod}').form-control#SPDmod
					.col-sm-3
						p#SPDbase #{character.SPD}
						input(type='hidden', value='#{character.SPD}', name='SPD')#SPD
					.col-sm-2
						p.cost#SPDcost= calculateFiguredCost(character.SPD, (character.SPD + character.SPDmod), SPDcost)

				div.form-group.clearfix 
					label.control-label.col-sm-3 REC
					.col-sm-3
						input(name='RECmod', type='number', value='#{character.REC + character.RECmod}').form-control#RECmod
					.col-sm-3
						p#RECbase #{character.REC}
						input(type='hidden', value='#{character.REC}', name='REC')#REC
					.col-sm-2
						p.cost#RECcost= calculateFiguredCost(character.REC, (character.REC + character.RECmod), RECcost)

				div.form-group.clearfix 
					label.control-label.col-sm-3 END
					.col-sm-3
						input(name='ENDmod', type='number', value='#{character.END + character.ENDmod}').form-control#ENDmod
					.col-sm-3
						p#ENDbase #{character.END}
						input(type='hidden', value='#{character.END}', name='END')#END
					.col-sm-2
						p.cost#ENDcost= calculateFiguredCost(character.END, (character.END + character.ENDmod), ENDcost)

				div.form-group.clearfix
					label.control-label.col-sm-3 STUN
					.col-sm-3
						input(name='STUNmod', type='number', value='#{character.STUN + character.STUNmod}').form-control#STUNmod
					.col-sm-3
						p#STUNbase #{character.STUN}
						input(type='hidden', value='#{character.STUN}', name='STUN')#STUN
					.col-sm-2
						p.cost#STUNcost= calculateFiguredCost(character.STUN, (character.STUN + character.STUNmod), STUNcost)

			.col-sm-6
				h2 Movement
				.row
					.col-sm-3
						strong Move Type
					.col-sm-3
						strong Move in "
				hr
				.form-group.clearfix
					.col-sm-3
						strong Running
					.col-sm-3 
						p#RUNbase #{character.Running}"
				.form-group.clearfix
					.col-sm-3
						strong Swimming
					.col-sm-3 
						p#SWIMbase #{character.Swimming}"
				.form-group.clearfix
					.col-sm-3
						strong Leap
					.col-sm-3 
						p#LEAPbase #{character.Leap} "
						input(type='hidden', value='#{character.Leap}', name='Leap')#LEAP
				h2 Combat Value
				.row
					.col-sm-3
						strong Type
					.col-sm-3
						strong Value
				hr
				.row
					.col-sm-3
						strong CV
					.col-sm-3
						p#CVbase #{character.CV}
						input(type='hidden', value='#{character.CV}', name='CV')#CV
				.row
					.col-sm-3
						strong ECV
					.col-sm-3
						p#ECVbase #{character.ECV}
						input(type='hidden', value='#{character.ECV}', name='ECV')#ECV
				h2 Misc.
				hr
				.row
					.col-sm-3
						strong Lift
					.col-sm-3
						p 
							span#LIFT #{character.Lift}
							| kg
						input(type='hidden', value='#{character.Lift}', name='Lift')#LIFT
				.row
					.col-sm-3
						strong HTH
					.col-sm-3
						p 
							span#HTHattack #{character.HTH}
							| d6
						input(type='hidden', value='#{character.HTH}', name='HTH')#HTH
				.row
					.col-sm-3
						strong PRE Attack
					.col-sm-3
						p 
							span#PREattack #{character.PreAtt}
							| d6
						input(type='hidden', value='#{character.PreAtt}', name='PreAtt')#PREatt

		.row
			.col-sm-12
				button(type='submit').btn.btn-primary.btn-large.pull-right Update Character
				button(type='button', data-target='#deleteModal', data-toggle='modal').btn.btn-link.pull-left.text-danger
					span.glyphicon.glyphicon-trash
					| &nbsp;Delete #{character.alias}?

	.modal.fade#deleteModal
		.modal-dialog
			.modal-content
				.modal-header
					button(type='button', data-dismiss='modal').close &times;
					h4 Are you sure?
				.modal-body
					p Are you sure you want to delete #{character.alias}? This will be permanant.
					.text-center
						a(href="/characters/remove/#{character._id}").btn.btn-danger Yes
						| &nbsp;
						button(data-dismiss='modal').btn.btn-default No
	script(src='/js/charactersEdit.js', rel='text/javascript')