extends layout

block content
	a(href="/characters/" + character._id)
		span.glyphicon.glyphicon-arrow-left
		|  Back
	form(id="characterAdd", method="post", action="/characters/updateCharacter")
		h2 Basic Information
		input(type='hidden', name='_id', value=character._id)
		.row
			.col-sm-6.col-sm-offset-3
				= console.log(character)
				.form-group
					label(for='alias').control-label Alias
					input(name='alias', type='text', placeholder='Alias, i.e., "Batman"', value=character.alias).form-control#alias
				.form-group
					label(for='name').control-label Real Name
					input(name='name', type='text', placeholder='Real Name, i.e., "Bruce Wayne"', value=character.name).form-control#name
				.form-group
					label(for='basePool').control-label Base Point Pool
					input(name='basePool', type='number', placeholder='Base Character Point Pool', value=character.basePool).form-control#basePool
				.form-group
					label(for='description').control-label Character Description
					textarea(name='description', placeholder='A short description of your character').form-control#description
						=character.description
		.row
			.col-sm-12
				button(type='submit').btn.btn-primary.btn-large.pull-right Update Character
				button(type='button', data-target='#deleteModal', data-toggle='modal').btn.btn-link.pull-left.text-danger
					span.glyphicon.glyphicon-trash
					| &nbsp;Delete #{character.alias}?

	.modal.fade#deleteModal
		.modal-dialog
			.modal-content
				.modal-header
					button(type='button', data-dismiss='modal').close &times;
					h4 Are you sure?
				.modal-body
					p Are you sure you want to delete #{character.alias}? This will be permanant.
					.text-center
						a(href="/characters/remove/#{character._id}").btn.btn-danger Yes
						| &nbsp;
						button(data-dismiss='modal').btn.btn-default No