extends ../layout

block content
	a(href="/dashboard/" + username)
		span.glyphicon.glyphicon-arrow-left
		| &nbsp;Back to Dashboard
	h1 #{character.alias}'s Talents
	include ../_common/pointTotals
	a(href="add/" + character._id).btn.btn-primary
		span.glyphicon.glyphicon-plus
		|  Add New

	table.table
		thead
			tr
				th Name
				th Adders
				th.text-center Bonus To Roll
				th.text-center Cost
				th.text-center Edit
		tbody
			for talent in character.Talents
				tr
					td 
						if talent.name
							| #{talent.name} (#{talent.type.name})
						else
							| #{talent.type.name}
					td 
						for adder, i in talent.adders
							| #{adder}
							if i < talent.adders.length - 1
								| , 
					td.text-center 
						if talent.bonusToRoll
							| +#{talent.bonusToRoll}
					td.text-center #{talent.cost}
					td.text-center
						a(href="edit/" + character._id + "," + talent._id).btn.btn-link
							span.glyphicon.glyphicon-edit