each m, i in mms
	if i % 3 == 0
		.row.clearfix
			each mSub, iSub in mms.slice(i, i + 3)
				.col-sm-4
					.form-group
						label.control-label #{mSub.name}
						input(name='mm' + (Number(iSub) + Number(i)) + '-name' placeholder='Custom Maneuver Name (optional)').form-control
						input(type="hidden", name='mm' + (Number(iSub) + Number(i)) + '-id', value=mSub._id)
					dl
						if mSub.name != '+1 Damage Class' && mSub.name != 'Weapon Element'
							dt Phase
							dd #{mSub.phase}
							dt OCV
							dd #{mSub.ocv}
							dt DCV
							dd #{mSub.dcv}
						dt Cost
						dd #{mSub.cost}
						dt Effects
						dd #{mSub.effects}