each m, i in selectedManeuvers
	if i % 3 == 0
		.row.clearfix
			each mSub, iSub in selectedManeuvers.slice(i, i + 3)
				-var info;
				-if(mSub.type) {
				- info = mSub.type;
				-} else {
				-  info = mSub;
				-}
				.col-sm-4
					.form-group
						label.control-label #{info.name}
						input(name='mm[' + (Number(iSub) + Number(i)) + '][name]', value=(mSub.type) ? mSub.name : null, placeholder='Custom Maneuver Name (optional)').form-control
						input(type="hidden", name='mm[' + (Number(iSub) + Number(i)) + '][type]', value=info._id)
					dl
						if info.name != '+1 Damage Class' && info.name != 'Weapon Element'
							dt Phase
							dd #{info.phase}
							dt OCV
							dd #{info.ocv}
							dt DCV
							dd #{info.dcv}
						dt Cost
						dd #{info.cost}
						dt Effects
						dd #{info.effects}