extends ../layout

block content
	a(href="/characters/perks/" + character._id)
		span.glyphicon.glyphicon-arrow-left
		| &nbsp;Back to Dashboard
	h1 Add Perk for #{character.alias}
	include ../_common/pointTotals
	p.lead Perk Cost: 
		span#perk-total 0
		| &nbsp;pts.
	form(method="post", action="/characters/addPerk")
		input(type="hidden", name="characterID", value=character._id)
		input(type="hidden", name="perk-cost" value="0")
		.row
			.col-sm-6
				.form-group
					label(for="perk-type").control-label Select Perk
					select(name="perk-type" required).form-control#perk-type
						option(value="") Select Perk
						each perk, i in perks
							option(value=perk.name, data-minCost=perk.minCost, data-maxCost=perk.maxCost) #{perk.name}
				.form-group
					label(for="perk-name").control-label Perk Name/Description
					input(type="text" name="perk-name" placeholder="Name of contact, nature of cover etc." required).form-control#perk-name
				.form-group
					label(for="perk-value").control-label Perk value
					input(type="range", name="perk-value", step="1" list="perk-value-ticks", min="1", max="10")#perk-value
					span.pull-left#min-cost
					span.pull-right#max-cost
				.form-group(style="display:none;")#contactBonusToRoll
					label.control-label Contact Bonus to Roll
					input(type="number" name="perkOptions[contactBonusToRoll]" min="0" value="0" disabled).form-control.contact-control
				.form-group(style="display:none;")#reputationLevels
					label.control-label Reputation Level/Bonus to Associated Skill Rolls and Presence Attacks
					input(type="number" name="perkOptions[reputationLevels]" min="0" value="0" required disabled).form-control.reputation-control
					small Note: minimum cost of reputation level is 1 point, regardless of options or modifiers
				.form-group(style="display:none;")#x2Multiplier
					label.control-label
						| x2 Multiplier (
						span#numMultiplier 1
						| &nbsp;
						span#typeMultiplier
						span#pluralType
						| )
					input(type="number" name="perkOptions[x2Multiplier]" data-cost="+5" min="0" value="0" required disabled).form-control.x2-control
				.form-group(style="display:none;")#basePoints
					label(for="perkOptions[basePoints]").control-label Base Points
					input(type="number", name="perkOptions[basePoints]", min="0", id="perkOptions[basePoints]" value="0" disabled).form-control
				br
				button(type="submit").btn.btn-primary.btn-lg
					span.glyphicon.glyphicon-plus
					| &nbsp;Add Perk

			.col-sm-6
				#contact-options(style="display:none;")
					.form-group
						label.control-label Contact Options
						.radio
							label
								input(type="radio", name="perkOptions[contactBase]", value="8-" data-cost="1" checked disabled).contact-control
								| Base 8- Contact (1 pt.)
						.radio
							label
								input(type="radio", name="perkOptions[contactBase]", value="11-" data-cost="2" disabled).contact-control
								| Base 11- Contact (2 pts.)
					.form-group
						label.control-label Contact's Resources and Skills
						.radio
							label
								input(type="radio", name="perkOptions[contactUsefulness]" data-cost="0" checked disabled).contact-control
								| Default (Useful Skills and Resources)
						.radio
							label
								input(type="radio", name="perkOptions[contactUsefulness]", data-cost="1" value="Very Useful (+1)" disabled).contact-control
								| Very Useful Skills and Resources (+1)
						.radio
							label
								input(type="radio", name="perkOptions[contactUsefulness]", data-cost="2" value="Very Useful (+2)" disabled).contact-control
								| Very Useful Skills and Resources (+2)
						.radio
							label
								input(type="radio", name="perkOptions[contactUsefulness]", data-cost="3" value="Extremely Useful" disabled).contact-control
								| Extremely Useful Skills and Resources (+3)
					.form-group
						label.control-label Contact's Relationship to Character
						.radio
							label
								input(type="radio", name="perkOptions[contactRelationship]", value="", data-cost="0" checked disabled).contact-control
								| Neutral
						.radio
							label
								input(type="radio", name="perkOptions[contactRelationship]", value="Good", data-cost="+1" disabled).contact-control
								| Good Relationship (+1)
						.radio
							label
								input(type="radio", name="perkOptions[contactRelationship]", value="Very Good", data-cost="+2" disabled).contact-control
								| Very Good Relationship (+2)
					.form-group
						label.control-label Contact Options
						.checkbox
							label
								input(type="checkbox", name="perkOptions[limitedByIdentity]", value="true", data-cost="-1" disabled).contact-control
								| Limited By Identity (-1)
						.checkbox
							label
								input(type="checkbox", name="perkOptions[accessToMajorInstitutions]", value="true", data-cost="+1" disabled).contact-control
								| Has Access to Major Instituitions (+1)
						.checkbox
							label
								input(type="checkbox", name="perkOptions[hasSignificantContacts]", value="true", data-cost="+1" disabled).contact-control
								| Has Significant Contacts of Their Own (+1)
						.checkbox
							label
								input(type="checkbox", name="perkOptions[slavishlyLoyal]", value="true", data-cost="+3" disabled).contact-control
								| Is Slavishly Loyal to Character (+3)
						.checkbox
							label
								input(type="checkbox", name="perkOptions[unfriendly]", value="true", data-cost="-2" disabled).contact-control
								| Is Unfriendly to Character (-2)
						.checkbox
							label
								input(type="checkbox", name="perkOptions[organization]", value="true", data-cost="x3" disabled).contact-control
								| Organization Contact (x3)

				#reputation-options(style="display:none;")
					.form-group
						label.control-label How Widely Known
						.radio
							label
								input(type="radio", name="perkOptions[howWidelyKnown]", value="A small to medium sized group or a limited geographic area" data-cost="0" checked disabled).reputation-control
								| A small to medium sized group (close neighbors) or a limited geographic area (a neighborhood)
						.radio
							label
								input(type="radio", name="perkOptions[howWidelyKnown]", value="Medium-sized group or a large geographic area" data-cost="1" disabled).reputation-control
								| A medium-sized group (everyone in a small area, all doctors) or a large geographic area (a city, state, or region)
						.radio
							label
								input(type="radio", name="perkOptions[howWidelyKnown]", value="A large group or a huge geographic area" data-cost="2" disabled).reputation-control
								| A large group (all the citizens of a country, world, or interstellar region) or a huge geographic area (a nation, internationally, intergalactically)
					.form-group
						label.control-label How Well Known
						.radio
							label
								input(type="radio", name="perkOptions[howWellKnown]", value="8-" data-cost="-1" checked disabled).reputation-control
								| 8-
						.radio
							label
								input(type="radio", name="perkOptions[howWellKnown]", value="11-" data-cost="0" disabled).reputation-control
								| 11-
						.radio
							label
								input(type="radio", name="perkOptions[howWellKnown]", value="14-" data-cost="+1" disabled).reputation-control
								| 14-

	script(src="/js/perks/add.js")