extends ../layout

block content
	a(href="/characters/perks/" + character._id)
		span.glyphicon.glyphicon-arrow-left
		| &nbsp;Back to Dashboard
	h1 Add Perk for #{character.alias}
	include ../_common/pointTotals
	p.lead Perk Cost: 
		span#perk-total 0
		| &nbsp;pts.
	form(method="post", action="/characters/perks/addPerk")
		.row
			.col-sm-6
				.form-group
					label(for="perk-type").control-label Select Perk
					select(name="perk-type").form-control#perk-type
						option(value="") Select Perk
						each perk, i in perks
							option(value=perk._id, data-minCost=perk.minCost, data-maxCost=perk.maxCost) #{perk.name}
				.form-group
					label(for="perk-name").control-label Perk Name/Description
					input(type="text" name="perk-name" placeholder="Name of contact, nature of cover etc.").form-control#perk-name
				.form-group
					label(for="perk-cost").control-label Perk value
					input(type="range", name="perk-cost", step="1" list="perk-cost-ticks", min="1", max="10")#perk-cost
					span.pull-left#min-cost
					span.pull-right#max-cost
				br
				button(type="submit").btn.btn-primary.btn-lg
					span.glyphicon.glyphicon-plus
					| &nbsp;Add Perk
	script(src="/js/perks/add.js")