extends ../layout

block content
	a(href="/dashboard/" + username)
		span.glyphicon.glyphicon-arrow-left
		| &nbsp;Back to Dashboard

	h1 #{character.alias}'s Perks
	include ../_common/pointTotals
	a(href="/characters/perks/add/" + character._id).btn.btn-primary
		span.glyphicon.glyphicon-plus
		| &nbsp;Add Perk
	.row
		.col-sm-12
			table.table
				thead
					tr
						th Name/Description
						th Perk Type
						th Cost
						th Options
				tbody
					each perk, i in character.Perks
						tr
							td 
								| #{perk.name}
								a(href="/characters/perks/edit/" + character._id + "," + perk._id).pull-right
									span.glyphicon.glyphicon-edit
							td #{perk.type}
							td #{perk.cost}
							td
								if perk.perkOptions
									each perkOption, key in perk.perkOptions
										//- convert camelCase to regularly spaced words
										= key.replace(/([A-Z])/g, ' $1').replace(/^./, function(str) { return str.toUpperCase(); }) 
										//- Don't display the value of checked options
										if perkOption !== 'true' && perkOption !== 'on' && perkOption !== '' 
											| : #{perkOption}
										br
