extends ../layout

block content
	a(href="/dashboard/" + username)
		span.glyphicon.glyphicon-arrow-left
		| &nbsp;Back to Dashboard

	h1 #{character.alias}'s Perks
	include ../_common/pointTotals
	a(href="/characters/perks/add/" + character._id).btn.btn-primary
		span.glyphicon.glyphicon-plus
		| &nbsp;Add Perk
	.row
		.col-sm-12
			table.table
				thead
					tr
						th Name/Description
						th Perk Type
						th Cost
						th Options
				tbody
					each perk, i in character.Perks
						tr
							td #{perk.name}
							td #{perk.type}
							td #{perk.cost}
							td
								//- each po, in in perk.perkOptions
								//- 	| #{po}, 
