extends ../layout

block content

	- function calculateRoll(characteristic) {
	- 	if(characteristic >= 0) {
	- 		return Math.round(9 + (characteristic / 5));
	- 	} else {
	-		return Math.round(9 - (characteristic / 5));
	- 	}
	- }
	- var slRegex = /(\w*)?Skill Level/

	a(href="/dashboard/" + username)
		span.glyphicon.glyphicon-arrow-left
		| &nbsp;Back to Dashboard
	.row
		.col-sm-6
			h1 #{character.alias}
				a(href='/characters/edit/' + character._id).btn.btn-link
					span.glyphicon.glyphicon-edit
					| &nbsp;Edit
				br
				if character.name
					small aka, #{character.name}
			include ../_common/pointTotals

	.row
		.col-sm-4
			h2 Primary Characteristics
			.row
				.col-xs-4.col-sm-3.text-right
					p Characteristic
				.col-xs-3.col-sm-2.text-center
					p Roll
				.col-xs-4
					p Value
			.row
				.col-xs-4.col-sm-3.text-right
					strong STR
				.col-xs-3.col-sm-2.text-center
					strong= '-' + calculateRoll(character.STR + character.STRmod)
				.col-xs-4
					p= character.STR + character.STRmod
			.row
				.col-xs-4.col-sm-3.text-right
					strong DEX
				.col-xs-3.col-sm-2.text-center
					strong= '-' + calculateRoll(character.DEX + character.DEXmod)
				.col-xs-4
					p= character.DEX + character.DEXmod
			.row
				.col-xs-4.col-sm-3.text-right
					strong CON
				.col-xs-3.col-sm-2.text-center
					strong= '-' + calculateRoll(character.CON + character.CONmod)
				.col-xs-4
					p= character.CON + character.CONmod
			.row
				.col-xs-4.col-sm-3.text-right
					strong BODY
				.col-xs-3.col-sm-2.text-center
					strong= '-' + calculateRoll(character.BODY + character.BODYmod)
				.col-xs-4
					p= character.BODY + character.BODYmod
			.row
				.col-xs-4.col-sm-3.text-right
					strong INT
				.col-xs-3.col-sm-2.text-center
					strong= '-' + calculateRoll(character.INT + character.INTmod)
				.col-xs-4 
					p= character.INT + character.INTmod
			.row
				.col-xs-4.col-sm-3.text-right
					strong EGO
				.col-xs-3.col-sm-2.text-center
					strong= '-' + calculateRoll(character.EGO + character.EGOmod)
				.col-xs-4 
					p= character.EGO + character.EGOmod
			.row
				.col-xs-4.col-sm-3.text-right
					strong PRE
				.col-xs-3.col-sm-2.text-center
					strong= '-' + calculateRoll(character.PRE + character.PREmod)
				.col-xs-4 
					p= character.PRE + character.PREmod
			.row
				.col-xs-4.col-sm-3.text-right
					strong COM
				.col-xs-3.col-sm-2.text-center
					strong= '-' + calculateRoll(character.COM + character.COMmod)
				.col-xs-4 
					p= character.COM + character.COMmod

		.col-sm-4
			h2 Figured Characteristics
			.row
				.col-xs-4.text-right
					p Characteristic
				.col-xs-4
					p Value
			.row
				.col-xs-4.text-right
					strong PD
				.col-xs-4
					p= character.PD + character.PDmod
			.row
				.col-xs-4.text-right
					strong ED
				.col-xs-4
					p= character.ED + character.EDmod
			.row
				.col-xs-4.text-right
					strong SPD
				.col-xs-4
					p= character.SPD + character.SPDmod
			.row
				.col-xs-4.text-right
					strong END
				.col-xs-4
					p= character.END + character.ENDmod
			.row
				.col-xs-4.text-right
					strong STUN
				.col-xs-4
					p= character.STUN + character.STUNmod
		.col-sm-4
			if ma && ma.length > 0
				each art, i in ma
					h2 #{art.name}
					table.table
						thead
							tr
								th Name
								th OCV
								th DCV
								th Phase
								th Effect
						tbody
							each m, i in art.maneuvers
								tr
									td #{m.name}
									td #{m.type.ocv}
									td #{m.type.dcv}
									td #{m.type.phase}
									td #{m.type.effects}
			h2 Combat
			.row
				.col-xs-2: abbr(title='Hand-to-Hand') HTH
				.col-xs-6 #{character.HTH}d6
			.row
				.col-xs-2: abbr(title='What the character can just lift, carry a couple paces, then drop') Lift
				.col-xs-6 #{character.Lift}kg
			.row
				.col-xs-2: abbr(title='Offensive Combat Value')  OCV
				.col-xs-6 #{character.CV}
			.row
				.col-xs-2: abbr(title='Defensive Combat Value')  DCV
				.col-xs-6 #{character.CV}
			.row
				.col-xs-2: abbr(title='Offensive Ego Combat Value')  OECV
				.col-xs-6 #{character.ECV}
			.row
				.col-xs-2: abbr(title='Defensive Ego Combat Value')  DECV
				.col-xs-6 #{character.ECV}

			h2 Movement
			.row
				.col-xs-4 Running
				.col-xs-4 #{character.Running}"
			.row
				.col-xs-4 Swimming
				.col-xs-4 #{character.Swimming}"
			.row
				.col-xs-4 Leap
				.col-xs-4 #{character.Leap}"
	
	

	.row
		.col-sm-6#skills
			h2 Skills
			.row
				.col-xs-6
					strong Skill
				.col-xs-6
					strong Roll

			//- Can be used to sort any part of the skill. Right now, sorting by skill type
			- function sortAlphabetically(a, b) { 
			- 	if(a.skillType.type > b.skillType.type) {
			- 		 return 1;
			- 	} else if(a.skillType.type < b.skillType.type) {
			- 		 return -1;
			- 	}
			- 	return 0;
			- }
			- character.Skills.sort(sortAlphabetically);
			each skill, i in character.Skills
				.row
					.col-xs-6
						if skill.skillType.name == 'Transport Familiarity'
							if skill.subcategories && skill.subcategories.length > 0
								each subcategory, i in skill.subcategories
									p TF: #{subcategory}
										
							if skill.categories && skill.categories.length > 0
								each category, i in skill.categories
									p TF: #{category.name}

						else if skill.categories && skill.categories.length > 0
							if skill.skillType.name == 'Animal Handler'
								p #{skill.skillType.name}: 
									each category, i in skill.categories
										| #{category.name}
										if i != skill.categories.length - 1
											| , 
							if skill.skillType.name == 'Forgery'
								p Forgery: 
									each category, i in skill.categories
										if category.subcategories && category.subcategories.length > 0
											each subcategory, j in category.subcategories
												| #{subcategory}
												if j != category.subcategories.length - 1
													| , 
										else
											| #{category.name}
											if i != skill.categories.length - 1
												| , 
							if skill.skillType.name == 'Gambling'
								p Gambling: 
									each category, i in skill.categories
										| #{category.name}
										if i != skill.categories.length - 1 || skill.subcategories.length > 0
											| , 
									each subcategory, j in skill.subcategories
										| #{subcategory}
										if j != skill.subcategories.length - 1
											| , 

						else if skill.skillType.name.match(slRegex) && skill.skillOptions
							- var slOptions = ""
							- var skillName = skill.skillType.name
							p
								if skillName.match(/^Combat Skill Level \(8\-point\)$/)
									| +#{skill.skillOptions.numberOfSkillLevels} Overall CSL
								else if skillName.match(/^Penalty Skill Level \(3\-point\)$/)
									| +#{skill.skillOptions.numberOfSkillLevels} Overall PSL
								else if skillName.match(/^Skill Level \(8\-point\)$/)
									| +#{skill.skillOptions.numberOfSkillLevels} Non-combat SL
								else if skillName.match(/^Skill Level \(10\-point\)$/)
									| +#{skill.skillOptions.numberOfSkillLevels} Overall SL
								else
									each option, key in skill.skillOptions
										if key != 'numberOfSkillLevels'
											- slOptions += option + ', '
									if slOptions != ""
										| +#{skill.skillOptions.numberOfSkillLevels} to 
										= slOptions.replace(/,\s?$/, '', function(str){ return str; })
									else
										= console.log(skill)
						else
							- var skillName = skill.skillType.name
							if skillName.match(/Professional Skill/)
								p PS: #{skill.skillOptions.professionalSkillArea}
									
							else if skillName.match(/Knowledge Skill/)
								p #{skill.skillOptions.knowledgeSkillType} Knowledge: #{skill.skillOptions.knowledgeSkillArea}

							else if skillName.match(/Science Skill/)
								p SS: #{skill.skillOptions.scienceSkillArea}
									
							else if skill.skillType.name == 'Language (Basic Conversation)' || skill.skillType.name == 'Language (Fluent Conversation)' || skill.skillType.name == 'Language (Completely Fluent, with Accent)' || skill.skillType.name == 'Language (Idiomatic, native accent)' || skill.skillType.name == 'Language (Imitate Dialects)'
								p #{skill.skillType.name}: #{skill.skillOptions.language}

							else
								p #{skill.skillType.name}
									
					if skill.roll != 0 && skill.roll != null && skill.roll != undefined
						.col-xs-6
							p -#{skill.roll}
		.col-sm-4


	h2 Description
	p #{character.description}

	script(rel='text/javascript', src='/js/charactersShow.js')