extends ../layout

block content
	a(href="/dashboard/" + username)
		span.glyphicon.glyphicon-arrow-left
		| &nbsp;back to Dashboard
	h1 Powers
		a(href="/powers/add").btn.btn-link
			span.glyphicon.glyphicon-plus
			|  Add New
	table.table
		thead
			tr
				th Name
				th Category
				th Varients
				th Cost
				th Duration
				th Target
				th Range
				th Edit
		tbody
			each power in powers
				tr
					td #{power.name}
					td #{power.category}
					td
						if power.varients && power.varients.length > 0
							each varient, i in power.varients
								| #{varient.name}
								if varient.cost && varient.cost > 0
									|  (#{varient.cost} pts.)
								if i != power.varients.length - 1
									| , 
									br
					td #{power.cost.points} #{power.cost.per}
					td #{power.duration}
					td #{power.target}
					td #{power.range}
					td
						a(href="/powers/edit/" + power._id)
							span.glyphicon.glyphicon-edit